<head>
    <meta charset="utf-8" />
    <title>Envio de Enlace</title>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

   
</head>
<div>
    <p>
        Se ha enviado un enlace a tu cuenta de correo @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
